<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>

	<!-- URL Schemes (Google Sign-In) -->
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>GoogleSignIn</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>com.googleusercontent.apps.238793012439-1c54gpv0kuq9feq77o58t2qoki13v05m</string>
				<string>com.googleusercontent.apps.238793012439-kn7jvk318ud9g23egi6p4qk9vs2tikqe</string>
			</array>
		</dict>
	</array>

	<!-- Firebase -->
	<key>FirebaseAppCheckDebugProviderDisabled</key>
	<true/>
	<key>FirebaseAppCheckDebugToken</key>
	<string></string>

	<!-- Google Ads -->
	<key>GADApplicationIdentifier</key>
	<string>ca-app-pub-1515384434837305~2451123619</string>

	<!-- Google Sign-In -->
	<key>GIDClientID</key>
	<string>238793012439-1c54gpv0kuq9feq77o58t2qoki13v05m.apps.googleusercontent.com</string>

	<!-- GitHub (USED BY GitHubUploader.swift) -->
	<key>GitHubToken</key>
	<string>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</string>

	<!-- Background Modes -->
	<key>UIBackgroundModes</key>
	<array>
		<string>remote-notification</string>
	</array>

</dict>
</plist>
